
<body>
  <div class="jumbotron text-center" id="main-header">
    <h1 id="main-main-header">Welcome to Robot World!</h1>
  </div>
  <div class="row">
    <div class="col col-md-offset-4">
        <p>
          <a class="btn btn-primary btn-lg" href="/robots" role="button">Robot Index</a>
          <a class="btn btn-primary btn-lg" href="/robots/new" role="button">New Robot</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-3">
    <table class="table table-hover table-bordered" id="stats-table">
      <tr class="">
        <th>Robot Population</th>
        <th>Favorite Food</th>
        <th>Mood</th>
        <th>Average Salary</th>
      </tr>
      <tr class="info">
        <td><%= @population %></td>
        <td><%= @favorite_food %></td>
        <td><%= @mood %></td>
        <td><%= @average_salary %> bitcoins</td>
      </tr>
    </div>
  </div>
    </table>
</body>