
<body id="main-body">
  <div class="jumbotron text-center" id="main-header">
    <h1>Welcome to Robot World!</h1>
  </div>
  <div class="row">
    <div class="col col-md-offset-4">
        <p>
          <a class="btn btn-primary btn-lg" href="/robots" role="button">Robot Index</a>
          <a class="btn btn-primary btn-lg" href="/robots/new" role="button">New Robot</a>
        </p>
      </div>
    </div>
</body>