<form class="form-horizontal" action="/robots" method="post">
  <p class="lead">Enter robot name:</p>
  <div class="form-group">
    <div class="col-sm-10">
      <input type='text' class="form-control" name='robot[name]' rows="2" placeholder="Name"/><br/>
    </div>
  </div>
    <button class="btn btn-danger btn-lg" type="submit">Acticate</button>
</form>